#uh div.brand, #uh .links, #uh .upsell {
    display:none
}

#uh #search{
    margin-top: 0;
}

.nav-bar {
         top: 29px;
         height: 24px;
}

#uh{
    height: 53px;
}

.tabs .active > a{
      padding-top: 8px;
}

.tabs li a{
       padding: 5px 0 2px 8px;
}
.tabs li{
      height: 26px;
}
